body {
    padding: 90px 40px 50px 40px;
    width: 100%;
    background-color: #363c48;
}

#root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 30px;
}